@inject IViewLocalizer Localizer
@model ErrorViewModel
@{
    ViewData["Title"] = Localizer["Title_Error"];
}

<h1>@Localizer["Title_Error"]</h1>
<p>@Localizer["Message_GeneralError"]</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["Label_RequestId"]:</strong> <code>@Model.RequestId</code>
    </p>
}
