root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_size = 4

# Code style preference
csharp_style_expression_bodied_constructors = true
csharp_style_expression_bodied_methods = true
csharp_style_var_elsewhere = true
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true

# Code quality analysis rules
dotnet_diagnostic.CA1062.severity = none # Validate arguments of public methods
dotnet_diagnostic.CA2007.severity = none # Do not directly await a task

# Code style analysis rules
dotnet_analyzer_diagnostic.category-Style.severity = warning
dotnet_diagnostic.IDE0058.severity = none # Remove unnecessary expression value

# StyleCop rules
dotnet_diagnostic.SA1633.severity = none # FileMustHaveHeader

[src/Buttercup.Web/**.cs]

# Compiler warnings
dotnet_diagnostic.CS1591.severity = none # Missing XML comment for publicly visible type or member

# Code quality analysis rules
dotnet_diagnostic.CA1054.severity = none # URI parameters should not be strings

# StyleCop rules
dotnet_diagnostic.SA1600.severity = none # ElementsMustBeDocumented

[test/**.cs]

# Compiler warnings
dotnet_diagnostic.CS1591.severity = none # Missing XML comment for publicly visible type or member

# Code quality analysis rules
dotnet_diagnostic.CA1822.severity = none # Mark members as static

# StyleCop rules
dotnet_diagnostic.SA1124.severity = none # DoNotUseRegions
dotnet_diagnostic.SA1201.severity = none # ElementsMustAppearInTheCorrectOrder
dotnet_diagnostic.SA1600.severity = none # ElementsMustBeDocumented

[*.sln]
indent_style = tab
