.editorconfig eol=lf
.gitattributes eol=lf
*.cs eol=lf
*.cshtml eol=lf
*.csproj eol=lf
*.js eol=lf
*.json eol=lf
*.less eol=lf
*.lock eol=lf
*.props eol=lf
*.ruleset eol=lf
*.sh eol=lf
*.sln eol=lf
*.sql eol=lf
