@inject IViewLocalizer Localizer
@model Buttercup.Web.Models.Authentication.RequestPasswordResetViewModel
@{
  ViewData["Title"] = Localizer["Title_ResetPassword"];
}
<h1>@Localizer["Title_ResetPassword"]</h1>
<form method="post">
  <div asp-validation-summary="ModelOnly"></div>
  <div class="form-field">
    <label class="form-field__label" asp-for="Email">@Localizer["Label_Email"]</label>
    <input class="form-field__input" asp-for="Email" required>
    <span asp-validation-for="Email"></span>
  </div>
  <button class="push-button push-button--primary">@Localizer["Label_SendResetLink"]</button>
</form>
