@{
  ViewData["Title"] = "Reset password";
}
@model RequestPasswordResetViewModel
<h1>Reset password</h1>
<form method="post">
  <div class="form-field">
    <label class="form-field__label" asp-for="Email" show-required-label="false"></label>
    <input class="form-field__input" asp-for="Email" required autofocus>
    <span asp-validation-for="Email"></span>
  </div>
  <button class="primary-push-button">Send reset link</button>
</form>
