@{
  ViewData["Title"] = "Reset password";
}
@model RequestPasswordResetViewModel
<h1>Reset password</h1>
<p>If we found an account with the email address <b>@Model.Email</b>, we’ll have sent you a link you can use to set your new password.</p>
