@inject IViewLocalizer Localizer
@model RequestPasswordResetViewModel
@{
  ViewData["Title"] = Localizer["Title_ResetPassword"];
}
<h1>@Localizer["Title_ResetPassword"]</h1>
<p>@Localizer["Message_PasswordResetLinkSent", @Model!.Email]</p>
