@inject IViewLocalizer Localizer
@model Buttercup.Web.Models.Authentication.RequestPasswordResetViewModel
@{
  ViewData["Title"] = Localizer["Title_CheckYourEmail"];
}
<h1>@Localizer["Title_CheckYourEmail"]</h1>
<p>@Localizer["Message_PasswordResetLinkSent", @Model!.Email]</p>
