@inject IViewLocalizer Localizer
@{
  ViewData["Title"] = Localizer["Title_LinkExpired"];
}
<h1>@Localizer["Title_LinkExpired"]</h1>
<p>@Localizer["Message_LinkNoLongerValid"]</p>
<p>@Localizer["Message_NewLinkRequired"]</p>
<a class="push-button push-button--primary" asp-action="RequestPasswordReset">@Localizer["Label_RequestNewLink"]</a>
