@{
  ViewData["Title"] = "Reset password";
}
<h1>Reset password</h1>
<p>This link isn't valid anymore.</p>
<p>You'll need to <a asp-action="RequestPasswordReset">request a new link</a> to reset your password.</p>
