@inject IViewLocalizer Localizer
@{
  ViewData["Title"] = Localizer["Title_AccountDeactivated"];
}
<h1>@Localizer["Title_AccountDeactivated"]</h1>
<p>@Localizer["Message_CannotResetPasswordUserDeactivated"]</p>
<p>@Localizer["Message_ContactToReactivate", "buttercup@doubliez.net"]</p>
