.comment:target {
  margin-left: calc(var(--padding) * -1);
  border-left: var(--color-orange) solid 0.25em;
  padding-left: calc(var(--padding) - 0.25em);
}

.comment--framed {
  margin: 1em 0;
  padding: 1em 1em 0 1em;
  background-color: var(--color-light-grey);
  border: 1px solid var(--color-light-grey);
}

.comment__header {
  display: flex;
  flex-direction: row;
  gap: 0.9em;
}

.comment__author {
  font-weight: 500;
}

a.comment__timestamp {
  color: var(--color-black);
}

@media print {
  .comment__action {
    display: none;
  }
}
