.data-table {
  border-spacing: 0;
  width: 100%;

  td,
  th {
    border-bottom: 1px solid var(--color-grey);
    padding: var(--padding) 0 var(--padding) var(--padding);
    text-align: left;

    &:first-child {
      padding-left: 0;
    }

    &.data-table--right-aligned {
      text-align: right;
    }
  }
}

.data-table--collapsed-below-medium {
  display: none;
}

@media (min-width: @medium-breakpoint) {
  .data-table--collapsed-below-medium {
    col& {
      display: table-column;
    }

    thead& {
      display: table-header-group;
    }

    td&,
    th& {
      display: table-cell;
    }
  }
}
