  @inject IAuthorizationService AuthorizationService
  @inject IViewLocalizer Localizer
  @if (User.Identity?.IsAuthenticated == true)
  {
  <noscript>
    <nav class="footer-nav">
      <span class="footer-nav__item"><a asp-controller="Account" asp-action="Show">@Localizer["Label_YourAccount"]</a></span>
      @if ((await AuthorizationService.AuthorizeAsync(User, AuthorizationPolicyNames.AdminOnly)).Succeeded)
      {
      <span class="footer-nav__item"><a asp-area="Admin" asp-controller="Users" asp-action="Index">@Localizer["Label_Users"]</a></span>
      }
      <span class="footer-nav__item"><a asp-controller="Authentication" asp-action="SignOut">@Localizer["Label_SignOut"]</a></span>
    </nav>
  </noscript>
  }
