<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#2c6877" />
  <environment include="Development">
    <script src="~/assets/scripts/main.js" defer></script>
    <link rel="stylesheet" href="~/assets/styles/main.css")">
    <link rel="stylesheet" media="print" href="~/assets/styles/print.css">
  </environment>
  <environment exclude="Development">
    <script src="~/assets/scripts/main.prod.js" defer></script>
    <link rel="stylesheet" href="~/assets/styles/main.prod.css")">
    <link rel="stylesheet" media="print" href="~/assets/styles/print.prod.css">
  </environment>
  <link rel="icon" type="image/png" href="~/assets/images/icon-16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="~/assets/images/icon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="~/assets/images/icon-96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="~/assets/images/icon-128.png" sizes="128x128">
  <link rel="icon" type="image/png" href="~/assets/images/icon-512.png" sizes="512x512">
  <title>@ViewData["Title"] - Buttercup</title>
</head>
<body>
  @await Html.PartialAsync("_TopBar")
  @if (TempData["FlashMessage"] is string)
  {
    <div>@TempData["FlashMessage"]</div>
  }
  <div class="layout__content">
    @RenderBody()
    @await Html.PartialAsync("_FooterNav")
  </div>
</body>
</html>
