.recipes-index__header {
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--padding) * -1);
}

#recipe-index__filter {
  display: none;
  margin-bottom: var(--small-padding);

  .js-enabled & {
    display: block;
  }
}

#recipes-index__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recipes-index__item {
  border-bottom: 1px solid var(--color-grey);
  padding: var(--padding) 0;

  &:last-child {
    border-bottom-style: none;
  }
}

.recipes-index--hidden {
  display: none;
}

@media (min-width: @medium-breakpoint) {
  .recipes-index__header {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  #recipe-index__filter {
    margin-bottom: 0;
    width: 50%;
  }
}
