@inject IViewLocalizer Localizer
@model RecipeEditModel
@{
  ViewData["Title"] = Localizer["Title_EditRecipe", Model.Title];
}
<h1>@Localizer["Heading_EditRecipe"]</h1>
<form method="post">
  @await Html.PartialAsync("_FormFields", Model)
  <input type="hidden" asp-for="Revision">
  <div class="button-bar">
    <button class="primary-push-button">@Localizer["Label_Save"]</button>
    <a class="push-button" asp-action="Show">@Localizer["Label_Cancel"]</a>
  </div>
</form>
