@inject IViewLocalizer Localizer
@model RecipeAttributes
@{
  ViewData["Title"] = Localizer["Title_NewRecipe"];
}
<h1>@Localizer["Title_NewRecipe"]</h1>
<form method="post">
  @Html.EditorForModel()
  <button class="primary-push-button">@Localizer["Label_Save"]</button>
</form>
