@inject IViewLocalizer Localizer
@model RecipeAttributes
@{
  ViewData["Title"] = Localizer["Title_NewRecipe"];
}
<h1>@Localizer["Title_NewRecipe"]</h1>
<form class="form" method="post">
  @Html.EditorForModel()
  <button class="push-button push-button--primary">@Localizer["Label_Save"]</button>
</form>
