@{
  ViewData["Title"] = "Add recipe";
}
@model RecipeEditModel
<h1>Add recipe</h1>
<form method="post">
  @await Html.PartialAsync("_FormFields", Model)
  <button class="primary-push-button">Save</button>
</form>

