html {
  overflow-y: scroll;
}

body {
  font-family: Roboto, sans-serif;
  min-width: var(--min-width);
  padding: 0 var(--padding);
}

h1 {
  color: var(--color-orange);

  @media print {
    text-align: center;
  }
}

h2 {
  color: var(--color-blue);
}

h1,
h2 {
  font-family: Lora, serif;
  font-weight: bold;
}

a {
  color: var(--color-blue);
  text-decoration: none;
}
