html {
  overflow-y: scroll;
}

body {
  font-family: Roboto, sans-serif;
  min-width: @min-width;
  padding: 0 @padding;
}

h1 {
  color: @color-orange;

  @media print {
    text-align: center;
  }
}

h2 {
  color: @color-blue;
}

h1,
h2 {
  font-family: Lora, serif;
  font-weight: bold;
}

a {
  color: @color-blue;
  text-decoration: none;
}
