.push-button {
  --push-button-background-color: var(--color-white);
  --push-button-foreground-color: var(--color-very-dark-grey);
  --push-button-border-color: var(--color-grey);
  background-color: var(--push-button-background-color);
  border: 1px solid var(--push-button-border-color);
  border-radius: 0.1875em;
  box-sizing: border-box;
  color: var(--push-button-foreground-color);
  display: inline-block;
  min-width: 6.5em;
  padding: 0.5em 1.5em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;

  &:active,
  &:hover {
    background-color: oklch(
      from var(--push-button-background-color) calc(l - 0.05) c h
    );
    border-color: oklch(
      from var(--push-button-border-color) calc(l - 0.05) c h
    );
    outline: 0;
  }

  &:focus-visible {
    background-color: oklch(
      from var(--push-button-background-color) calc(l - 0.05) c h
    );
    border-color: var(--color-blue);
    outline: 0;
  }

  &[disabled] {
    opacity: 0.4;

    &,
    &:active,
    &:focus-visible,
    &:hover {
      background-color: var(--push-button-background-color);
      border-color: var(--push-button-border-color);
    }
  }

  &.push-button--primary {
    --push-button-background-color: var(--color-blue);
    --push-button-foreground-color: var(--color-white);
    --push-button-border-color: var(--color-blue);
    font-weight: bold;
  }

  &.push-button--dangerous {
    --push-button-background-color: var(--color-red);
    --push-button-foreground-color: var(--color-white);
    --push-button-border-color: var(--color-red);
    font-weight: bold;
  }
}

.button-bar {
  display: flex;
  gap: 0.625em;

  @media print {
    display: none;
  }
}
