.comment:target {
  margin-left: -@padding;
  border-left: @color-orange solid 0.25em;
  padding-left: calc(@padding - 0.25em);
}

.comment__header {
  display: flex;
  flex-direction: row;
  gap: 0.9em;
}

.comment__author {
  font-weight: 500;
}

a.comment__timestamp {
  color: @color-black;
}
