@color-blue: #2c6877;
@color-orange: #e4682d;
@color-pink: #ecbabc;
@color-red: #a00;

@color-white: #fff;
@color-light-grey: #eee;
@color-grey: #ccc;
@color-dark-grey: #666;
@color-very-dark-grey: #333;
@color-black: #000;

@font-family-roboto: Roboto, sans-serif;

@small-padding: 5px;
@padding: 15px;
@large-padding: 30px;

@min-width: 260px;
@max-width: 1200px;
