@font-face {
  font-display: optional;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold'), local('Lora-Bold'),
       url('../fonts/lora-v12-latin-700.woff2') format('woff2'),
       url('../fonts/lora-v12-latin-700.woff') format('woff');
}

@font-face {
  font-display: optional;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v18-latin-regular.woff') format('woff');
}

@font-face {
  font-display: optional;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v18-latin-700.woff2') format('woff2'),
       url('../fonts/roboto-v18-latin-700.woff') format('woff');
}
