.input-box {
  --input-box-border-width: 1px;
  --input-box-height: 2.5em;
  --input-box-padding: 0.75em;

  background-color: var(--color-white);
  border: var(--input-box-border-width) solid var(--color-grey);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  height: var(--input-box-height);
  padding: 0 var(--input-box-padding);

  &.input-validation-error {
    border-color: var(--color-red);
  }

  &:focus-visible {
    border-color: var(--color-blue);
    outline: 0;
  }

  textarea& {
    height: 6em;
    padding: calc(
        (var(--input-box-height) / 2) - (var(--input-box-border-width)) - 0.5em
      )
      var(--input-box-padding);
    resize: vertical;

    &.input-box--tall {
      height: 10em;
    }
  }
}
