@import (less) 'node_modules/normalize.css/normalize.css';

@import './fonts';

@color-orange: #e4682d;

@padding: 15px;

body {
  font-family: Roboto, sans-serif;
  margin: @padding;
}

h1 {
  color: @color-orange;
  font-family: Lora, serif;
  font-weight: bold;
}
