.recipes-index--date {
  width: 10em;
}

.recipes-index--collapsible {
  display: none;

  @media (min-width : 720px) {
    thead& {
      display: table-header-group;
    }

    td&,
    th& {
      display: table-cell;
    }
  }
}
