.recipe-header {
  h1 {
    text-align: center;
  }
  border-bottom: 1px solid @color-grey;
  padding-bottom: @padding;
  margin-bottom: @large-padding;
}

.recipe-actions {
  justify-content: center;
}

// @media (min-width: @medium-breakpoint) {
//   h1 {
//     margin: 0.7em 0;
//   }

//   .recipe-header {
//     display: flex;
//     align-items: baseline;
//     gap: @padding;
//     justify-content: space-between;
//   }
// }

.recipe-summary {
  border-spacing: 0;

  th {
    font-size: 0.9em;
    font-weight: normal;
    padding-right: 1em;
    text-align: left;
    white-space: nowrap;
  }

  td,
  th {
    padding-bottom: @small-padding;
    vertical-align: baseline;
  }
}
