.top-bar {
  background-color: @color-blue;
  margin: 0 -@padding;
  padding: 0 @padding;
}

.top-bar__content {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: @max-width;
  min-height: 48px;
}

.top-bar__logotype {
  a&:hover > svg& {
    opacity: 0.95;
  }

  svg& {
    fill: @color-white;
    height: 30px;
    margin-top: 8px;
    width: 114px;
  }
}

.top-bar__separator {
  flex-grow: 1;
}

.top-bar__nav-link {
  color: @color-white;
  flex-shrink: 0;
  font-weight: bold;
  margin-left: @padding;
}
